/* styles the entire page to give it some consistency*/
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

/*styles given to the body, such as backgorund*/
body {
    background-image: url(Image/Notes.jpg);
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*styles for position, a class that is given to several html elements, to avoid the same lines of 
code repeating themselves iver and over. Which makes the css code shorter/dry'er*/
.position {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*styles added to the headline of the page*/
h1 {
    text-decoration: underline;
    text-shadow: -4px 7px 8px #5c5c5c;
}

/*styles added to main and header, to give the page some breathing space */
main, header {
    margin-top: 40px;
}

/*styles added to section one. Adds some dimention to the listcard with shadow and set's a width and 
color to the listCard, could've added said styles directly to the listCard, but I wanted the option to 
be able to adjust them separatly for different screens.*/ 
.sectionOne {
    width: 500px;
    border: 2px solid #ebeb67;
    background-color: #f9f987;
    box-shadow: -4px 10px 15px #5c5c5c;
}

/*styles added to listCard, which could've been named divContainer*/
.listCard {
    margin-top: 40px;
    margin-bottom: 60px;
    width: 350px;
}

/*styles added to inputField to specify it's size and padding. Added color to the text*/
.inputField {
    width: 180px;
    padding-left: 20px;
    height: 20px;
    border-radius: 5px;
    color: #020255;
    padding: 8px;
    padding-left: 10px;
}

/*styles added to addButton, such as it's size and color. And adjusted cursor*/
.addButton {
    width: 60px;
    border-radius: 10px;
    background-color: #020255;
    color: #c5c5c5;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

/*styles added to the li items*/
li {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 20px;
    text-align: left;
    justify-content: space-between;
    padding: 3px;
}

/* Attempted to add styling to the checkbox itself, no response*/
/* .checkbox {
    content: " ";
    display: flex;
    flex-direction: column;
    position: left, absolute;
} */

/*Attemped to add styling that would change when chackbox is clicked*/ 
/* ul li.checked {
    color: #807a7a;
    text-decoration: line-through;

} */


/*Styling to adjust to different screen sizes*/

/*small laptop*/
@media (max-width:1024px) {
    .sectionOne {
        max-width: 400px;
    }
    
    .listCard {
        max-width: 300px;
    }
}

/*tablet*/
@media (max-width:768px) {
    .sectionOne {
        max-width: 300px;
    }

    .listCard {
        max-width: 250px;
    }

    body {
        background-position: center;
        background-size: 1150px;
    }
}

/*biggest phone screen*/
@media (max-width: 425px) {
    .sectionOne {
        max-width: 250px;
    }

    .listCard {
        max-width: 180px;
    }

    .position {
        justify-content:first baseline;
    }

    .inputField {
        width: 150px;
    }

    body {
        background-position: contain;
        background-size: 1060px;
    }
}



